
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


.manage-products-container {
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  .save-changes-btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .product-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  
  }
  
  .managementheading{

    font-family: "Nunito";
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-size: 40px;
    color: #41522E;
 
    
  }

  .product-table th,
  .product-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .product-table th {
    background-color: #41522E;
    color: white;
    text-align: left;




  }
  
  .Manage-product-image {
    width: 200px;
    height: 100px;
    object-fit: cover;
  }
  
  .update-btn,
  .delete-btn,
  .save-btn {
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .update-btn {
    background-color: #2ecc71;
    color: white;
  }
  
  button.delete-btn {
    background-color: #e74c3c;
    color: white;
  }
  
  button.save-btn {
    background-color: #28a745;
    color: white;
  }
  
  .validation-messages {
    color: red;
    margin-bottom: 20px;
  }
  
  .top-buttons {
    margin-bottom: 20px;
  }
  
  button.home-btn{
    margin-right: 10px;
    padding: 8px 12px;
    background-color: skyblue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

  }
  .save-changes-btn{
    margin-right: 10px;
    padding: 8px 12px;
    background-color: #FCCD2A;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  



  .save-changes-btn:hover,
  .home-btn:hover,
  .save-btn:hover,
  .update-btn:hover,
  .delete-btn:hover {
    background-color: burlywood;
  }
  
  .manage-product-image {
    width: auto;
    height: auto;
max-width: 200px;
 
  }
  


  .success-message {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4caf50; /* Green background for success */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
    font-size: 16px;
  }
  
  .content{

    margin-left: 18%;
  }


  .manage{
    width: 290px; /* Increased sidebar size */
    background-color: #41522E;
    color: #fff;
    padding: 20px; /* Increased padding */
    margin-right: 30px; /* Increased margin */
    border-radius: 5px;
    font-size: 18px; /* Increased font size */
  }

  .validation-error{


    margin-left: 83%;
  }

  .logopic {
    width: 150px; /* Adjust the width as needed */
    margin-right: 10px auto; /* Center the logo horizontally with some margin */
    display: block; /* Ensures block display for centering */
margin-bottom: 50px;

  }
  